
html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -45px; /* the bottom margin is the negative value of the footer's height */
}

footer,
.push {
	height: 45px; /* .push must be the same height as .footer */
	text-align: center;
	line-height: 45px;
	vertical-align: middle;
}

